@mixin link {
  a {
    text-decoration: none;
    line-height: 1.2rem;
    font-weight: 300;
    text-shadow: none;
    color: $light-color;
  }
}

@mixin list-item {
  list-style: none;
}

@mixin thick {
  font-weight: 700;
}


@mixin thin {
  font-weight: 100;
}

@mixin hover {
  &:hover {
    background: $dark-color-hover;
  }
}

@mixin box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@mixin text-shadow {
  text-shadow: 1px 1px 2px $dark-font-color;
}

@mixin link-list {
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    li {
      @include list-item;
      @include hover;
      @include link;
      height: inherit;

      a {
        display: flex;
        align-items: center;
        height: inherit;

        padding: 0 0.6rem;
      }
    }
  }
}
