$dark-color: rgba(85, 85, 91, 1);
$dark-font-color: rgba(51, 51, 58, 1);
$dark-color-hover: rgb(124, 124, 124);
$light-color: rgba(244,244,244, 1);
$primary-color: rgba(255, 175, 93, 1);
$secondary-color: rgba(93, 173, 255, 1);
$secondary-color-hover: rgb(56, 108, 163);
$border-radius: 0.2rem;